@import url('https://fonts.google.com/specimen/Inter');

* {
    font-family: 'Inter', Arial, Helvetica, sans-serif 
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.filter {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    border: solid 1px #FFEAD0;

}

.filter:hover {
    background-color: #FFF7ED;
    border: solid 1px #FFEAD0;
    color: black
}

